:root {
  --black: black;
  --alert: red;
  --pause: sienna;
}
* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}
html {
  background: #000;
  color: #fafafa;
  font-size: 14px;
}
body {
  min-width: calc(320px + 1rem);
}
#backdrop {
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  position: fixed;
}
#backdrop.default {
  background-color: var(--black);
}
#backdrop.alert {
  background-color: var(--alert);
}
#backdrop.pause {
  background-color: var(--pause);
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
}
#settings_form h2 {
  text-align: right;
}
h3 {
  margin-bottom: 0;
}
form {
  border-bottom: 2px dashed rgba(255, 255, 255, 0.6);
  padding-bottom: 1em;
  margin-bottom: 1em;
}
body,
input,
textarea,
button,
select {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
select {
  padding-left: 0;
  padding-right: 0;
}
option {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}
button,
a.btn,
input[type="submit"] {
  cursor: pointer;
  background: lime;
  color: black;
  font-weight: bold;
}
label {
  cursor: pointer;
}
input[type="text"],
textarea,
input[type="number"],
input[type="submit"],
button,
.btn,
select {
  padding: 0.4rem 0.6rem;
  margin: 0.3rem 0;
  border-radius: 0.1rem;
  display: block;
  border: 1px solid #e1e1e1;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
  }
}
select {
  width: 100%;
  max-width: 100%;
}
input[type="text"],
textarea,
input[type="number"] {
  width: 100%;
}
input[type="text"],
textarea,
input[type="number"],
label {
  font-size: 0.9rem;
}
textarea {
  height: 5em;
}
a,
button.text,
.btn.text,
button.icon {
  color: lime;
  background: transparent;
  border: 0;
}
button.text,
.btn.text {
  text-decoration: underline;
  margin-left: -0.6rem;
  margin-right: -0.6rem;
  display: inline-block;
}
button.text:after,
.btn.text:after {
  font-size: 0.8em;
}
button.text.expanded:after,
button.text.collapsed:after,
button.text.expanded2:before,
button.text.collapsed2:before {
  font-size: 0.6em;
  display: inline-block;
}
button.text.collapsed:after,
button.text.collapsed2:before {
  content: "  ▲";
}
button.text.expanded:after,
button.text.expanded2:before {
  content: "▼  ";
}
button.text.expanded:after,
button.text.collapsed:after {
  margin-left: 0.6em;
}
button.text.collapsed2:before,
button.text.expanded2:before {
  margin-right: 0.6em;
}
.task {
  padding-bottom: 0.5em;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.6);
}
#wrapper {
  max-width: 340px;
  min-width: 320px;
  padding: 0.5rem;
  margin: 0 auto;
  position: relative;
}
#task_new_form {
  width: 100%;
  max-width: 100%;
}
#task_new_form input[type="text"],
#task_new_form input[type="number"],
#task_new_form textarea {
  display: block;
}
.buttons {
  display: flex;
  justify-content: space-between;
}

.task .buttons {
  display: block;
  margin-left: -0.6rem;
}
.task .buttons button {
  padding: 0;
  margin-left: 0.6rem;
  margin-right: 0.6rem;
}
.dnone {
  display: none;
}
.dblock {
  display: block;
}
.white,
a.white,
button.text.white,
.btn.text.white {
  color: white;
}
.ctacolor1,
a.ctacolor1,
button.ctacolor1 {
  color: lime;
}
.ctacolor2,
a.ctacolor2,
button.ctacolor2 {
  color: tan;
}
#clean_btn {
  display: none;
}
.quicktest #clean_btn {
  display: block;
}
.quicktest h2 {
  display: none;
}
