html {
  padding: 0;
  margin: 0;
  background: #000;
  color: #fafafa;
  font-size: 16px;
}
body {
  padding: 1rem;
}
body,
input,
textarea,
button {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
button,
input[type="submit"] {
  cursor: pointer;
  background: lime;
  color: black;
}
label {
  cursor: pointer;
}
input[type="text"],
textarea,
input[type="number"],
input[type="submit"],
button {
  padding: 0.4rem;
  margin: 0.3rem 0;
  border-radius: 0.1rem;
  display: block;
  border: 1px solid #e1e1e1;
}
input[type="text"],
textarea,
input[type="number"],
label {
  font-size: 0.9rem;
}
a,
button.text {
  color: pink;
  background: transparent;
  border: 0;
}
button.text {
  background: none;
  border: 0;
	text-decoration:underline;
	padding-left:0;
}
#task_new_form {
  width: 20rem;
  max-width: 100%;
  & input[type="text"],
  textarea,
  input[type="number"] {
    width: 100%;
  }
  & textarea {
    height: 4em;
  }
}
.dnone {
  display: none;
}
.dblock {
  display: block;
}
