:root {
	--bg-color: hsl(0, 0%, 95%);
	--fg-color: hsl(0, 0%, 10%);
	--pause-color: hsl(0, 0%, 85%);
	--alert-bg: hsl(0, 68%, 42%);
	--running-bg: greenyellow;
	--alert-color: hsl(0, 68%, 52%);
	--remove-fg: hsl(16, 100%, 50%);
	--remove-icon-color: hsl(16, 100%, 80%);
	--settings-fg: red;
	--button-bg: hsl(217, 87%, 50%);
	--button-bg-hover: hsl(217, 87%, 30%);
	--button-fg: white;
	--input-border-color: hsl(0, 0%, 20%);
	--text-button-fg: hsl(217, 87%, 50%);
	--separation-border-color: rgba(255, 255, 255, 0.8);
	--finished-blink-bg: white;
	--play-icon-color: hsl(217, 87%, 80%);
	--input-bg: white;
	--border-inactive: hsl(0, 0%, 90%);
	--border-hover: hsl(0, 0%, 60%);
	--border-active: hsl(0, 0%, 40%);
	--timer-pause-color: var(--pause-color);
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-color: hsl(60, 70%, 0%);
		--fg-color: hsl(10, 10%, 90%);
		--pause-color: hsl(0, 0%, 15%);
		--alert-bg: hsl(0, 68%, 42%);
		--running-bg: greenyellow;
		--alert-color: hsl(0, 68%, 42%);
		--remove-fg: hsl(16, 100%, 50%);
		--remove-icon-color: hsl(16, 100%, 70%);
		--settings-fg: greenyellow;
		--button-bg: hsl(84, 100%, 59%);
		--button-bg-hover: hsl(84, 100%, 39%);
		--button-fg: black;
		--input-border-color: hsl(0, 0, 80%);
		--text-button-fg: greenyellow;
		--separation-border-color: rgba(255, 255, 255, 0.2);
		--finished-blink-bg: var(--alert-bg);
		--play-icon-color: hsl(217, 87%, 80%);
		--input-bg: white;
		--border-inactive: hsl(0, 0%, 30%);
		--border-hover: hsl(0, 0%, 40%);
		--border-active: hsl(0, 0%, 60%);
		--timer-pause-color: var(--pause-color);
	}
}

* {
	box-sizing: border-box;
}
html,
body {
	padding: 0;
	margin: 0;
	height: 100%;
}
html {
	background: var(--bg-color);
	color: var(--fg-color);
	font-size: 14px;
}
body {
	min-width: calc(320px + 1rem);
}
.form-name {
	font-weight: 800;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1.2em;
}
#statusbar {
	height: 0.5rem;
}

#statusbar.default {
	background-color: var(--bg-color);
}
#statusbar.statusbar-pause {
	background-color: var(--timer-pause-color);
}
#statusbar.statusbar-running {
	background-color: var(--running-bg);
}
#statusbar.statusbar-alert {
	background-color: var(--alert-bg);
}

#statusbar.statusbar-alert {
	animation: blink-statusbar 1.5s infinite;
}
@keyframes blink-statusbar {
	0% {
		background-color: transparent;
	}
	50% {
		background-color: var(--alert-bg);
	}
	100% {
		background-color: transparent;
	}
}

#statusbar.statusbar-pause {
	background-color: var(--pause-color);
}
#timer_new_btn:after {
	color: var(--timer-border-fg);
}
#timer_new_quick {
	display: block;
}
#timer_new_quick::before {
	/*★ ☆ */
	content: '⚡';
	color: var(--play-icon-color);
	display: block;
	float: left;
	width: 1em;
	height: auto;
}
.top-buttons .text-btn {
	border: 1px dotted var(--border-inactive);
	border-bottom: 0;
	color: var(--settings-fg);
}
.top-buttons .text-btn:hover {
	border-color: var(--border-hover);
}
.top-buttons .expanded,
.top-buttons .text-btn.expanded:hover {
	border-style: solid;
	border-color: var(--border-active);
}
#settings_form {
	padding-right: 0.6rem;
	border-width: 0 2px 0 0;
	border-color: var(--settings-fg);
}
#settings_form .form-name {
	color: var(--fg-color);
}
.timer {
	padding: 1rem;
	margin: -1rem;
}
.timer-name {
	margin: 0;
	padding: 0;
	font-weight: 800;
}
body,
input,
textarea,
button,
select {
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Open Sans',
		'Helvetica Neue',
		sans-serif;
}
button,
a.btn,
input[type='submit'] {
	cursor: pointer;
	background: var(--button-bg);
	color: var(--button-fg);
	font-weight: bold;
	transition: background-color 0.2s ease-in-out;
}
button:hover,
a.btn:hover,
input[type='submit']:hover {
	background: var(--button-bg-hover);
}
label {
	cursor: pointer;
}
/* --------------------------- FORM & INPUT */
input[type='text'],
textarea,
input[type='number'],
input[type='submit'],
button,
.btn,
select {
	padding: 0.4rem 0.6rem;
	margin: 0.3rem 0;
	border-radius: 0.1rem;
	display: block;
	border: 1px solid var(--input-border-color);
}
select {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}
select,
input[type='text'],
textarea,
input[type='number'] {
	width: 100%;
	display: block;
	background-color: var(--input-bg);
	color: #222;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
	select {
		padding-left: 0.4rem;
		padding-right: 0.4rem;
	}
}
input[type='text'],
textarea,
input[type='number'],
label {
	font-size: 0.9rem;
}
textarea {
	height: 5em;
}
form {
	height: 0;
	opacity: 0;
	visibility: hidden;
	transition-delay: 0.02s;
	transition-timing-function: ease;
	transition-duration: 0.3s;
	transition-property: opacity;
}

/* --------------------------- form class definitions */

.form-inputs-wrapper {
	display: flex;
	justify-content: space-between;
	margin-top: -0.3rem;
	margin-bottom: -0.3rem;
}
#new_timer_interval,
#settings_form_quickTimerInterval {
	max-width: 40%;
}
#new_timer_intervalUnit,
#settings_form_intervalUnit {
	max-width: calc(60% - 0.3rem);
}

form.dblock {
	visibility: visible;
	opacity: 1;
	height: 100%;
}
/* --------------------------- / FORM & INPUT */
.timer button {
	margin-bottom: 0;
}
a,
button.text-btn,
.btn.text-btn,
button.icon {
	color: var(--text-button-fg);
	background: transparent;
	border: 0;
}
button.text-btn,
.btn.text-btn {
	display: inline-block;
}
button.text-btn:after {
	font-size: 0.8em;
}
button.text-btn.expanded::after,
button.text-btn.collapsed::after,
button.text-btn.expanded2::before,
button.text-btn.collapsed2::before {
	font-size: 0.7em;
	display: inline-block;
}
button.text-btn.collapsed::after,
button.text-btn.collapsed2::before {
	content: '  ▲';
	color: var(--play-icon-color);
}
button.text-btn.expanded::after,
button.text-btn.expanded2::before {
	content: '▼  ';
	color: var(--play-icon-color);
}
button.text-btn.expanded:after,
button.text-btn.collapsed:after {
	margin-left: 0.7em;
}
button.text-btn.collapsed2:before,
button.text-btn.expanded2:before {
	margin-right: 0.7em;
}

/* --------------------------- general class definitions */
#wrapper {
	max-width: 320px;
	min-width: 300px;
	padding: 0.5rem;
	margin: 0 auto;
	position: relative;
}
.submit-buttons {
	justify-content: flex-start;
	align-items: center;
}
.submit-buttons .feedback {
	margin-left: 0.5em;
	opacity: 0;
	animation: feedbackfade 1.5s;
	font-size: 0.9em;
}
@keyframes feedbackfade {
	0% {
		opacity: 0%;
	}
	5% {
		opacity: 100%;
	}
	95% {
		opacity: 100%;
	}
	100% {
		opacity: 0;
	}
}

#timer_container {
	padding-top: 1rem;
}
.timer {
	border-bottom: 1px dashed var(--separation-border-color);
	margin-top: 0;
	margin-bottom: 0;
}
.timer.paused {
	background-color: var(--timer-pause-color);
}
.timer.finished {
	animation: blink-finished 1.5s infinite;
}
.timer.finished .buttons .text-btn.pause {
	display: none;
}
@keyframes blink-finished {
	0% {
		background-color: transparent;
	}
	50% {
		background-color: var(--finished-blink-bg);
	}
	100% {
		background-color: transparent;
	}
}
.timer .buttons {
	justify-content: flex-start;
}
.timer .buttons button {
	padding: 0;
	margin-left: 0;
	margin-right: 1.6rem;
}
.timer .buttons .text-btn {
	display: flex;
	align-items: center;
}
.timer .buttons .text-btn::before {
	content: '';
	display: block;
	float: left;
	margin-right: 0.2rem;
	height: 1em;
	bottom: 0.5em;
	line-height: 1em;
}
.timer .buttons .text-btn.pause {
	margin-left: -0.1rem;
}
.timer .buttons .text-btn.pause::before {
	content: '=';
	transform: rotate(90deg);
	font-weight: 800;
	font-size: 1.2em;
	margin-left: -0.15em;
	padding-right: 0.15em;
	margin-bottom: -0.2em;
	color: var(--play-icon-color);
}
.timer .buttons .resume::before {
	background: transparent;
	content: ' ';
	width: 0;
	height: 0;
	margin-bottom: -0.1rem;
	margin-right: -0.1em;
	background-color: transparent;
	border-right: 0.5em solid transparent;
	border-bottom: 0.3em solid transparent;
	border-left: 0.5em solid var(--play-icon-color);
	border-top: 0.3em solid transparent;
}
.timer .buttons button.text-btn.reset::before {
	content: '↺';
	font-weight: bold;
	color: var(--play-icon-color);
}
.buttons .text-btn:hover {
	text-decoration: underline;
}
.timer .buttons button.text-btn.remove::before {
	content: 'x';
	font-size: 0.9em;
	margin-top: 0.1em;
	font-weight: 800;
	color: var(--remove-icon-color);
}
#timer_new_form .form-name {
	color: var(--fg-color);
}
.buttons {
	display: flex;
}
.top-buttons {
	justify-content: space-between;
}
.white,
a.white,
button.text-btn.white,
.btn.text-btn.white {
	color: var(--fg-color);
}
.text-btn.remove {
	color: var(--remove-fg);
}
#statusbar.statusbar-alert + #wrapper .text-btn.remove {
	color: var(--fg-color);
}
#clean_btn {
	display: none;
}
.quicktest #clean_btn {
	display: block;
}
.quicktest h2 {
	display: none;
}
.timer-countdown-current,
.timer-countdown-total {
	display: inline-block;
}
.current_time {
	padding: 1rem 0;
	text-align: right;
}
